<template>
  <div class="event-details" v-if="event">
    <h1>{{ event.title }}</h1>
    <p> @ {{ event.time }} on {{ event.date }} @ {{ event.location }}</p>
    <p>{{ event.description }}</p>
  </div>
</template>

<script>
export default {
  props: ['event']
};
</script>
